*{
    margin: 0;
    padding: 0;
    font-size: 2rem;
}

body{
    width: 1583px;
    height: 2046px;
    border: red solid 1px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.papel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.encabezado{
    margin-block-start: 2%;
    margin-block-end: 5%;
}

/*
.logotipo{
    background-color: black;
    height: auto;
    display: flex;
    position: absolute;
    width: 1583px;
    align-items: center;
    justify-content: center;
}
*/


img{
    width: 38%;
}

.tabla_de_dinero{
    margin-block-start: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

th{
    height: 100px;
}

.ralla{
    color: white;
}

.firma{
    margin-block-start: 70px;
    width: 100%;
}

.firm{
    width: 100%;
}

.telefono{
    width: 100%;
    margin-block-start: 70px;
}
.telefono>span{
    width: 49%;
    display: inline-table;
    text-align: center;
    font-weight: 900;
}