:root{
    --ancho-de-pagina: 800px;
    --alto-de-pagina: 800px;
    --ancho-del-escudo: 700px;
    --alto-del-escudo: 750px;
    --dibujo-de-escudo: polygon(        
        20% 75%,
        15.5% 70%,
        12% 65%,
        7% 55%, 
        5% 50%,
        0 10%,
        12.5% 9%,
        25% 7%,
        37.5% 4.5%,
        49% 2%,
        51% 2%,
        62.5% 4.5%,
        75% 7%, 
        87.5% 9%,
        100% 10%,
        95% 50%,
        93% 55%,
        88% 65%,
        80% 75%,
        50% 100%
        );
    --ancho-alas: 300px;
    --alto-alas: 90px;
    --dibujo-alas: 49% 98%,
    45% 95%,
    40% 91%,
    32% 80%,
    18% 50%,    
    0 0,
    50% 10%,
    100% 10%,
    100% 100%,
    55% 100%;
    --color-alas: linear-gradient(white, grey, grey);
    --dibujo-alas-rigth: 
    0% 10%,
    50% 10%,
    100% 0%,
    82% 50%,
    68% 80%,
    60% 91%,
    55% 95%,
    0% 100%
    ;
}

*{
    margin: 0;
    padding: 0;
}

body{
    min-width: var(--ancho-de-pagina);
    min-height: var(--alto-de-pagina);
}

div.continer{
    /*background-image: radial-gradient(ellipse 650px 250px at 50% -15%, rgb(255, 255, 255), rgba(252, 139, 2, 0.696), rgba(252, 139, 2, 0.77), rgba(0, 0, 0, 1)) ;
    */
    background: url(fondo-de-logo.jpg);
    width: var(--ancho-de-pagina);
    height: var(--alto-de-pagina);
    border-radius: 50%;/*
    display: grid;
    align-items: center;
    justify-items: center;*/
    position: absolute;
}

.contenedor-de-escudo-y-alas{
    width: 65%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    margin: auto;
    position: relative;
}

.alas-left{
    clip-path: polygon(var(--dibujo-alas));
    background-image: var(--color-alas);
    width: var(--ancho-alas);
    height: var(--alto-alas);
    position: absolute;
}

.ala1{
    left: -10%;
    top: 35%;
    transform: rotate(38deg);
}

.ala2{
    left: -8%;
    top: 45%;
    transform: rotate(34deg);
}

.ala3{
    left: -4%;
    top: 51%;
    transform: rotate(24deg)
}

.alas-rigth{
    clip-path: polygon(var(--dibujo-alas-rigth));
    background-image: var(--color-alas);
    width: var(--ancho-alas);
    height: var(--alto-alas);
    position: absolute;
}

.ala4{
    top: 35%;
    left: 52%;
    transform: rotate(-38deg);
}

.ala5{
    top: 45%;
    left: 49%;
    transform: rotate(-34deg);
}

.ala6{
    top: 51%;
    left: 45%;
    transform: rotate(-24deg);
}

.contenedor {
    /*border: solid red 5px;*/
    margin: 20px;
    filter:
      drop-shadow( 0 -5px 10px rgb(255, 255, 255))
      drop-shadow(0 1px 0 black)
      drop-shadow(-3px 0 0 black)
      drop-shadow(3px 0 0 black);
}

.escudo {
    background-image:repeating-linear-gradient(to right, goldenrod 0% 0%,white 65% 0%,goldenrod 99% 20%);
    clip-path: var(--dibujo-de-escudo);
    width: calc(var(--ancho-de-pagina)/2);
    height: calc(var(--alto-de-pagina) / 2);
    display: grid;
    justify-items: center;
    align-items: center;
}

.contenedor-mini{
    filter:
      drop-shadow( 0 -3px 1px black)
      drop-shadow(0 5px 2px white)
      drop-shadow(-2px 0 0px black)
      drop-shadow(2px 0 0px black);
}

.escudo-mini{
    clip-path: var(--dibujo-de-escudo);
    width: calc(var(--ancho-de-pagina)* 0.43);
    height: calc(var(--alto-de-pagina)* 0.43);
    background: url(fondo-de-logo.jpg) center / cover;
    display: grid;
    justify-items: center;
    align-items: center;
}